*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
    line-height:1.6;
}

header{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 10%;

    background:rgba(17,24,39,0.95);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.btn-primary,
.btn-secondary{
    text-decoration:none;
    padding:14px 30px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.btn-primary{
    background:#38bdf8;
    color:#000;
}

.btn-secondary{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.btn-primary:hover,
.btn-secondary:hover{
    transform:translateY(-4px);
}

section{
    padding:100px 10%;
}

h2{
    text-align:center;
    color:#38bdf8;
    font-size:2.5rem;
    margin-bottom:40px;
}

#about p{
    max-width:900px;
    margin:auto;
    text-align:center;
}

.services-grid,
.team-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card,
.member{
    background:#1e293b;
    border:1px solid rgba(56,189,248,.2);
    border-radius:20px;
    padding:25px;
    transition:.3s;
}

.card:hover,
.member:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#38bdf8;
    margin-bottom:10px;
}

.member{
    text-align:center;
}

.member img{
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:3px solid #38bdf8;
}

.member h3{
    color:#38bdf8;
    margin-bottom:10px;
}

#contact{
    text-align:center;
}

#contact p{
    margin-bottom:10px;
}

footer{
    background:#111827;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.5rem;
    }

    .hero p{
        font-size:1rem;
    }

    h2{
        font-size:2rem;
    }

}